@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Courier';
    src: url(./cprime.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
}

.kv:hover {
    background-color: yellow;    
    color: black;
}